@namespace PrimeBlazor

<div class="p-card p-component @CssClass" style="@Style">
    @if (HeaderTemplate != null)
    {
        <div class="p-card-header">@HeaderTemplate</div>
    }
    <div class="p-card-body">
        @if (TitleTemplate != null)
        {
            <div class="p-card-title">@TitleTemplate</div>
        }
        @if (SubtitleTemplate != null)
        {
            <div class="p-card-subtitle">@SubtitleTemplate</div>
        }
        <div class="p-card-content">
            @ChildContent
        </div>
        @if (FooterTemplate != null)
        {
            <div class="p-card-footer">@FooterTemplate</div>
        }
    </div>
</div>

@code {

    [Parameter]
    public string Style { get; set; }

    [Parameter]
    public string CssClass { get; set; }
    
    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }

    [Parameter]
    public RenderFragment TitleTemplate { get; set; }

    [Parameter]
    public RenderFragment SubtitleTemplate { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment FooterTemplate { get; set; }
}