 @page "/button"

<div>
    <div class="content-section introduction">
        <div class="feature-intro">
            <h1>Button</h1>
            <p>Button is an extension to standard button element with Icons and theming.</p>
        </div>
    </div>
    <div class="content-section implementation">
        <div class="card">
            <h5>Basic</h5>
            <PrimeButton Label="Submit" />
            <PrimeButton Label="Disabled" Disabled />
            <PrimeButton Label="Link" CssClass="p-button-link" />

            <h5>Icons</h5>
            <PrimeButton Icon="pi pi-check" />
            <PrimeButton Label="Submit" Icon="pi pi-check" />
            <PrimeButton Label="Submit" Icon="pi pi-check" IconPos="right" />

            <h5>Severities</h5>
            <PrimeButton Label="Primary" />
            <PrimeButton Label="Secondary" CssClass="p-button-secondary" />
            <PrimeButton Label="Success" CssClass="p-button-success" />
            <PrimeButton Label="Info" CssClass="p-button-info" />
            <PrimeButton Label="Warning" CssClass="p-button-warning" />
            <PrimeButton Label="Help" CssClass="p-button-help" />
            <PrimeButton Label="Danger" CssClass="p-button-danger" />

            <h5>Raised Buttons</h5>
            <PrimeButton Label="Primary" CssClass="p-button-raised" />
            <PrimeButton Label="Secondary" CssClass="p-button-raised p-button-secondary" />
            <PrimeButton Label="Success" CssClass="p-button-raised p-button-success" />
            <PrimeButton Label="Info" CssClass="p-button-raised p-button-info" />
            <PrimeButton Label="Warning" CssClass="p-button-raised p-button-warning" />
            <PrimeButton Label="Help" CssClass="p-button-raised p-button-help" />
            <PrimeButton Label="Danger" CssClass="p-button-raised p-button-danger" />

            <h5>Rounded Buttons</h5>
            <PrimeButton Label="Primary" CssClass="p-button-rounded" />
            <PrimeButton Label="Secondary" CssClass="p-button-rounded p-button-secondary" />
            <PrimeButton Label="Success" CssClass="p-button-rounded p-button-success" />
            <PrimeButton Label="Info" CssClass="p-button-rounded p-button-info" />
            <PrimeButton Label="Warning" CssClass="p-button-rounded p-button-warning" />
            <PrimeButton Label="Help" CssClass="p-button-rounded p-button-help" />
            <PrimeButton Label="Danger" CssClass="p-button-rounded p-button-danger" />

            <h5>Text Buttons</h5>
            <PrimeButton Label="Primary" CssClass="p-button-text" />
            <PrimeButton Label="Secondary" CssClass="p-button-secondary p-button-text" />
            <PrimeButton Label="Success" CssClass="p-button-success p-button-text" />
            <PrimeButton Label="Info" CssClass="p-button-info p-button-text" />
            <PrimeButton Label="Warning" CssClass="p-button-warning p-button-text" />
            <PrimeButton Label="Help" CssClass="p-button-help p-button-text" />
            <PrimeButton Label="Danger" CssClass="p-button-danger p-button-text" />
            <PrimeButton Label="Plain" CssClass="p-button-text p-button-plain" />

            <h5>Raised Text Buttons</h5>
            <PrimeButton Label="Primary" CssClass="p-button-raised p-button-text" />
            <PrimeButton Label="Secondary" CssClass="p-button-raised p-button-secondary p-button-text" />
            <PrimeButton Label="Success" CssClass="p-button-raised p-button-success p-button-text" />
            <PrimeButton Label="Info" CssClass="p-button-raised p-button-info p-button-text" />
            <PrimeButton Label="Warning" CssClass="p-button-raised p-button-warning p-button-text" />
            <PrimeButton Label="Help" CssClass="p-button-raised p-button-help p-button-text" />
            <PrimeButton Label="Danger" CssClass="p-button-raised p-button-danger p-button-text" />
            <PrimeButton Label="Plain" CssClass="p-button-raised p-button-text p-button-plain" />

            <h5>Outlined Buttons</h5>
            <PrimeButton Label="Primary" CssClass="p-button-outlined" />
            <PrimeButton Label="Secondary" CssClass="p-button-outlined p-button-secondary" />
            <PrimeButton Label="Success" CssClass="p-button-outlined p-button-success" />
            <PrimeButton Label="Info" CssClass="p-button-outlined p-button-info" />
            <PrimeButton Label="Warning" CssClass="p-button-outlined p-button-warning" />
            <PrimeButton Label="Help" CssClass="p-button-outlined p-button-help" />
            <PrimeButton Label="Danger" CssClass="p-button-outlined p-button-danger" />

            <h5>Rounded Icon Buttons</h5>
            <PrimeButton Icon="pi pi-bookmark" CssClass="p-button-rounded p-button-secondary" />
            <PrimeButton Icon="pi pi-search" CssClass="p-button-rounded p-button-success" />
            <PrimeButton Icon="pi pi-user" CssClass="p-button-rounded p-button-info" />
            <PrimeButton Icon="pi pi-bell" CssClass="p-button-rounded p-button-warning" />
            <PrimeButton Icon="pi pi-heart" CssClass="p-button-rounded p-button-help" />
            <PrimeButton Icon="pi pi-times" CssClass="p-button-rounded p-button-danger" />
            <PrimeButton Icon="pi pi-check" CssClass="p-button-rounded" />

            <h5>Rounded Text Icon Buttons</h5>
            <PrimeButton Icon="pi pi-check" CssClass="p-button-rounded p-button-text" />
            <PrimeButton Icon="pi pi-bookmark" CssClass="p-button-rounded p-button-secondary p-button-text" />
            <PrimeButton Icon="pi pi-search" CssClass="p-button-rounded p-button-success p-button-text" />
            <PrimeButton Icon="pi pi-user" CssClass="p-button-rounded p-button-info p-button-text" />
            <PrimeButton Icon="pi pi-bell" CssClass="p-button-rounded p-button-warning p-button-text" />
            <PrimeButton Icon="pi pi-heart" CssClass="p-button-rounded p-button-help p-button-text" />
            <PrimeButton Icon="pi pi-times" CssClass="p-button-rounded p-button-danger p-button-text" />
            <PrimeButton Icon="pi pi-filter" CssClass="p-button-rounded p-button-text p-button-plain" />

            <h5>Rounded and Outlined Icon Buttons</h5>
            <PrimeButton Icon="pi pi-check" CssClass="p-button-rounded p-button-outlined" />
            <PrimeButton Icon="pi pi-bookmark" CssClass="p-button-rounded p-button-secondary p-button-outlined" />
            <PrimeButton Icon="pi pi-search" CssClass="p-button-rounded p-button-success p-button-outlined" />
            <PrimeButton Icon="pi pi-user" CssClass="p-button-rounded p-button-info p-button-outlined" />
            <PrimeButton Icon="pi pi-bell" CssClass="p-button-rounded p-button-warning p-button-outlined" />
            <PrimeButton Icon="pi pi-heart" CssClass="p-button-rounded p-button-help p-button-outlined" />
            <PrimeButton Icon="pi pi-times" CssClass="p-button-rounded p-button-danger p-button-outlined" />

            <h5>Badges</h5>
            <PrimeButton Label="Emails" Badge="8" />
            <PrimeButton Label="Messages" Icon="pi pi-users" CssClass="p-button-warning" Badge="8" BadgeCssClass="p-badge-danger" />

            <h5>Loading</h5>
            <PrimeButton Label="Search" Icon="pi pi-search" Loading="loading[0]" @onclick="@(() => load(0))" />
            <PrimeButton Label="Search" Icon="pi pi-search" IconPos="right" Loading="@loading[1]" @onclick="@(() => load(1))"  />
            <PrimeButton Icon="pi pi-search" Loading="@loading[2]" @onclick="@(() => load(2))" />
            <PrimeButton Label="Search" Loading="@loading[3]" @onclick="@(() => load(3))" />

            <h5>Templating</h5>
            <PrimeButton CssClass="p-button-outlined p-button-help">
                <img alt="logo" src="/images/primeblazor-icon.svg" style="width: 1.5rem" />
                <span class="ml-2 text-bold">PrimeBlazor</span>
            </PrimeButton>


            <h5>Button Set</h5>
            <span class="p-buttonset">
                <PrimeButton Label="Save" Icon="pi pi-check" /><PrimeButton Label="Delete" Icon="pi pi-trash" /><PrimeButton Label="Cancel" Icon="pi pi-times" />
            </span>

            <h5>Sizes</h5>
            <div class="sizes">
                <PrimeButton Label="Small" Icon="pi pi-check" CssClass="p-button-sm"  />
                <PrimeButton Label="Normal" Icon="pi pi-check" CssClass="p-button"  />
                <PrimeButton Label="Large" Icon="pi pi-check" CssClass="p-button-lg" />
            </div>
        </div>
    </div>
</div>

@code {

    private bool[] loading = {false, false, false, false};

    private async Task load(int number) {
        loading[number] = true;
        await Task.Delay(TimeSpan.FromSeconds(1));
        loading[number] = false;
    }

}


